blinker==1.4
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854242877/work
camelot-py @ file:///home/conda/feedstock_root/build_artifacts/camelot-py_1623745002975/work
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046173594/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215424788/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.12.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1649385125392/work
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5871d1ea-0250-4cd7-ac89-4b1e60514f5daqk8t0ow/croots/recipe/cryptography_1652101128666/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
et-xmlfile==1.0.1
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1651017790766/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1648854455809/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1651609509324/work
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1651020584890/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1643507977997/work
opencv-python==4.5.5
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
pause==0.3
pdfminer.six @ file:///home/conda/feedstock_root/build_artifacts/pdfminer.six_1651879616135/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1649818253938/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1649384941891/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome @ file:///Users/runner/miniforge3/conda-bld/pycryptodome_1649417656229/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyPDF2 @ file:///home/conda/feedstock_root/build_artifacts/pypdf2_1651692566305/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857374584/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1636009262461/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
tweepy @ file:///home/conda/feedstock_root/build_artifacts/tweepy_1651769055739/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111974586/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
